<h1>Add appointment</h1>

<%= simple_form_for [@user, @appointment] do |f| %>
  <%= f.input :title %>
  <%= f.input :date, as: :date,
    start_year: Time.now.year,
    end_year: Time.now.year + 2 %>
  <%= f.submit "Add appointment" %>
<% end %>
